<component name="ArtifactManager">
  <artifact type="war" name="Spring&amp;HibernateCRUD:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringHibernateCRUD.war">
      <element id="artifact" artifact-name="Spring&amp;HibernateCRUD:war exploded" />
    </root>
  </artifact>
</component>